.mileage {
  @apply lg:h-[600px] bg-white lg:flex justify-between items-center p-2 md:p-0 my-10 md:my-32 lg:px-[90px];

  /* background: radial-gradient(circle, #7b7a86 10%, transparent 11%),
    radial-gradient(circle at bottom left, #7b7a86 5%, transparent 6%),
    radial-gradient(circle at bottom right, #7b7a86 5%, transparent 6%),
    radial-gradient(circle at top left, #7b7a86 5%, transparent 6%),
    radial-gradient(circle at top right, #7b7a86 5%, transparent 6%); */
  background-size: 2em 2em;
  background-color: #ffffff;
  /* opacity: 0.7; */
  background-attachment: fixed;
}

.mileage_bg {
  @apply lg:block w-full lg:w-[400px] bg-gray-200 h-[400px] rounded-xl;
  background-image: url('../../../assets/home/mileage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
